<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fire.quiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adapter.OsItem" />
        <activity android:name=".OpensourceActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2309895749738540~7992386571" />

        <activity
            android:name=".MainActivity"
           >
        </activity>
        <activity
            android:name=".SoloQuizActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DuoSettingActivity"
            android:noHistory="true" />
        <activity
            android:name=".DuoQuizActivity"
            android:noHistory="true" />
        <activity
            android:name=".SettingActivity"
            android:noHistory="true" />
        <activity
            android:name=".AnswerActivity"
            android:noHistory="true" />
    </application>

</manifest>